## Load data

In [1]:
from seaborn import load_dataset
import pandas as pd 
iris = load_dataset('iris')

In [6]:
iris.describe(include='all')

        sepal_length  sepal_width  petal_length  petal_width species
count     150.000000   150.000000    150.000000   150.000000     150
unique           NaN          NaN           NaN          NaN       3
top              NaN          NaN           NaN          NaN  setosa
freq             NaN          NaN           NaN          NaN      50
mean        5.843333     3.057333      3.758000     1.199333     NaN
std         0.828066     0.435866      1.765298     0.762238     NaN
min         4.300000     2.000000      1.000000     0.100000     NaN
25%         5.100000     2.800000      1.600000     0.300000     NaN
50%         5.800000     3.000000      4.350000     1.300000     NaN
75%         6.400000     3.300000      5.100000     1.800000     NaN
max         7.900000     4.400000      6.900000     2.500000     NaN

## Pivoting and other things

In [14]:
iris.value_counts().sort_index(level=0)

sepal_length  sepal_width  petal_length  petal_width  species
4.3           3.0          1.1           0.1          setosa       1
4.4           2.9          1.4           0.2          setosa       1
              3.0          1.3           0.2          setosa       1
              3.2          1.3           0.2          setosa       1
4.5           2.3          1.3           0.3          setosa       1
                                                                  ..
7.7           2.6          6.9           2.3          virginica    1
              2.8          6.7           2.0          virginica    1
              3.0          6.1           2.3          virginica    1
              3.8          6.7           2.2          virginica    1
7.9           3.8          6.4           2.0          virginica    1
Length: 149, dtype: int64

In [15]:
iris.value_counts().sort_index(level='sepal_length')

sepal_length  sepal_width  petal_length  petal_width  species
4.3           3.0          1.1           0.1          setosa       1
4.4           2.9          1.4           0.2          setosa       1
              3.0          1.3           0.2          setosa       1
              3.2          1.3           0.2          setosa       1
4.5           2.3          1.3           0.3          setosa       1
                                                                  ..
7.7           2.6          6.9           2.3          virginica    1
              2.8          6.7           2.0          virginica    1
              3.0          6.1           2.3          virginica    1
              3.8          6.7           2.2          virginica    1
7.9           3.8          6.4           2.0          virginica    1
Length: 149, dtype: int64

In [17]:
iris.melt(id_vars=['sepal_length', 'sepal_width'], value_vars=['petal_length'])

     sepal_length  sepal_width      variable  value
0             5.1          3.5  petal_length    1.4
1             4.9          3.0  petal_length    1.4
2             4.7          3.2  petal_length    1.3
3             4.6          3.1  petal_length    1.5
4             5.0          3.6  petal_length    1.4
..            ...          ...           ...    ...
145           6.7          3.0  petal_length    5.2
146           6.3          2.5  petal_length    5.0
147           6.5          3.0  petal_length    5.2
148           6.2          3.4  petal_length    5.4
149           5.9          3.0  petal_length    5.1

[150 rows x 4 columns]

In [30]:
melted = iris.melt(id_vars=['sepal_length', 'sepal_width'], value_vars=['petal_length', 'petal_width'], var_name='petal_props')
melted

     sepal_length  sepal_width   petal_props  value
0             5.1          3.5  petal_length    1.4
1             4.9          3.0  petal_length    1.4
2             4.7          3.2  petal_length    1.3
3             4.6          3.1  petal_length    1.5
4             5.0          3.6  petal_length    1.4
..            ...          ...           ...    ...
295           6.7          3.0   petal_width    2.3
296           6.3          2.5   petal_width    1.9
297           6.5          3.0   petal_width    2.0
298           6.2          3.4   petal_width    2.3
299           5.9          3.0   petal_width    1.8

[300 rows x 4 columns]

In [40]:
melted.pivot_table(index=['sepal_length', 'sepal_width'], columns='petal_props').\
    sort_index(level=0).reset_index()

            sepal_length sepal_width        value
petal_props                          petal_length petal_width
0                    4.3         3.0          1.1         0.1
1                    4.4         2.9          1.4         0.2
2                    4.4         3.0          1.3         0.2
3                    4.4         3.2          1.3         0.2
4                    4.5         2.3          1.3         0.3
..                   ...         ...          ...         ...
112                  7.7         2.6          6.9         2.3
113                  7.7         2.8          6.7         2.0
114                  7.7         3.0          6.1         2.3
115                  7.7         3.8          6.7         2.2
116                  7.9         3.8          6.4         2.0

[117 rows x 4 columns]

In [47]:
melted.pivot_table(index=['sepal_length', 'sepal_width'], columns='petal_props', aggfunc=sum).\
    sort_index(level=0).reset_index()

            sepal_length sepal_width        value
petal_props                          petal_length petal_width
0                    4.3         3.0          1.1         0.1
1                    4.4         2.9          1.4         0.2
2                    4.4         3.0          1.3         0.2
3                    4.4         3.2          1.3         0.2
4                    4.5         2.3          1.3         0.3
..                   ...         ...          ...         ...
112                  7.7         2.6          6.9         2.3
113                  7.7         2.8          6.7         2.0
114                  7.7         3.0          6.1         2.3
115                  7.7         3.8          6.7         2.2
116                  7.9         3.8          6.4         2.0

[117 rows x 4 columns]

We can't use `pivot` because it doesn't aggregate values with duplicate indices.

In [48]:
melted.pivot(index=['sepal_length', 'sepal_width'], columns='petal_props', values='value')

ValueError: Index contains duplicate entries, cannot reshape